@import '../../../../../scss/config';

.user-container {
    @include boxSize(50%, 100%);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    
    .user-image {
        @include boxSize(40px, 40px);
        display: flex;
        margin: 0 5px;

        img {
            border-radius: 50%;
        }
    }
    
    .user-info {
        @include boxSize(100%, 15%);
        display: flex;
        flex-grow: 1;
        align-items: center;
    }

    .user-options {
        @include boxSize(100%, 20%);
        display: flex;
        flex-grow: 1;
        justify-content: space-around;
        align-items: center;
        margin-right: 2px;
    }

}