@import '../../../../../scss/config';

.tab {
    display: flex;
    
    a{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        
        img {
            width: 25px;
            height: 25px;
            border-radius: 0;
            cursor: pointer;
        }
        
        p {
            font-size: 12px;
        }
    }
}