@import '../../../../../scss/config';

.tab {
    height: 80%;
    max-width: 75px;
    display: flex;
    
    a{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-radius: 10px;
        padding: 2px;

        &:hover {
            box-shadow: 0px 0px 0px 2px red;
        }
        
        img {
            width: 25px;
            height: 25px;
            border-radius: 0;
            cursor: pointer;
        }
        
        p {
            font-size: 12px;
            text-align: center;
        }
    }
}