.newMessageContainer {
  height: 10%;
  width: 75%;
  display: flex;
  align-items: center;
}
.newMessageContainer form {
  height: 50%;
  width: 100%;
  margin: 0 auto;
}
.newMessageContainer form input {
  line-height: 1.5;
  text-indent: 10px;
  width: 85%;
  font-size: 1.25rem;
  border-radius: 20px;
  border: none;
  background-color: #D3d3d3;
}
.newMessageContainer form input[type=file] {
  display: inline-block;
  width: 1px;
  height: 1px;
  overflow: hidden;
  opacity: 0;
}
.newMessageContainer form button {
  height: 2rem;
  width: 2rem;
  cursor: pointer;
  border: white;
  border-radius: 20px;
  text-align: center;
  background-color: white;
  vertical-align: top;
}
.newMessageContainer form button:hover {
  border: 1px solid blue;
}