@import '../../../../../../scss/config';

.search {
    @include boxSize(75%, 90%);
    position: relative;

    input {
        @include boxSize(100%, 100%);
        display: flex;
        border: none;
        border-radius: 10px;
        padding-left: 35px;

        &:hover {
            cursor: pointer;
        }
    }

    img {
        @include boxSize(70%, 10%);
        position: absolute;
        top: 8px;
        left: 8px;
    }
}
